{
  "username": "",
  "password": "",
  "host": "",
  "port": 993,
  "searchFilter": ["SEEN"]
  "mailhops": {
    "api_key": ""
  },
  "slack": { "webhookUri": ""
    , "channel": "#channel"
    , "subjectFilter": ""
    , "fromAddress": ""
  }
}
